<section class="bg-black h-screen w-full text-center relative overflow-hidden">

    <div class="z-30 relative h-full flex flex-col ">
        <header>
            <h2 class="text-white pt-24 text-[40px] font-bold">
                Disfrute de Tesla
            </h2>
            <p class="text-white text-sm ">
        Programe una prueba de conducción hoy mismo
            </p>
        </header>
        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div>
                <a 
                class="border-[3px] border-whitetext-sm rounded font-medium px-12 py-2 text-white inline-block hover:bg-white hover:text-black transition-colors duration-100"
                href="#">Prueba de conducción</a>
            </div>
        </footer>
    </div>
    
    <div class="absolute top-0 bottom-0 h-screen w-full z-10">
        <video class="object-center object-cover h-screen w-full" autoplay muted loop src="/experiencia.mp4" />
    </div>
</section>