<section 
    class="landing-section bg-black h-screen w-full text-center relative overflow-hidden"
    data-header-color='white'
 >

    <div class="z-30 relative h-full flex flex-col ">
        <header>
            <h2 class="text-white pt-24 text-[40px] font-bold">
                Vive la experiencia Tesla
            </h2>
            <p class="text-white text-sm ">
                Agende una demostración de manejo hoy
            </p>
        </header>
        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div class="max-[600px]:pr-4 max-[600px]:pl-6">
                <a 
                class="border-[3px] max-[600px]:w-full opacity-80 border-whitetext-sm rounded font-medium px-12 py-2 text-white inline-block hover:bg-white hover:text-black transition-colors duration-100"
                href="#">Demostración de manejo</a>
            </div>
        </footer>
    </div>
    
    <div class="absolute top-0 bottom-0 h-screen w-full z-10">
        <video class="object-center object-cover h-screen w-full" autoplay muted loop src="/experiencia.webm" />
    </div>
</section>