<section 
    class="landing-section bg-black h-screen w-full text-center relative overflow-hidden"
    data-header-color="white"
    >

    <div class="z-30 relative h-full flex flex-col ">
        <header>
            <h2 class="text-white pt-24 text-[40px] font-bold">
                Model Y
            </h2>
            <a class="text-white text-sm" href="#">
                <u>Agende demostración de manejo</u>
            </a>
        </header>
        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div class="flex justify-center max-[600px]:flex-col max-[600px]:gap-y-4 max-[600px]:pr-4 max-[600px]:pl-6 gap-x-4">
                <a 
                class="bg-neutral-800 opacity-80 text-sm rounded font-medium text-white px-16 py-3 inline-block"
                href="#">Explora el inventario</a>
                <a 
                class="bg-white text-sm opacity-80 rounded font-medium text-black px-16 py-3 inline-block"
                href="#">Orden personalizada</a>
            </div>
        </footer>
    </div>
    
    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <video class="object-center object-cover h-full w-full" autoplay muted loop src="/modelY.mp4" />
    </div>
</section>