<section 
    class="landing-section bg-black h-screen w-full text-center relative overflow-hidden"
    data-header-color="white"
    >

    <div class="z-30 relative h-full flex flex-col ">
        <header>
            <h2 class="text-white pt-24 text-[40px] font-bold">
                Model 3
            </h2>
            <a class="text-white text-sm" href="#">
                <u>Explora el inventario</u>
            </a>
        </header>
        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div class="flex justify-center gap-x-4">
                <a 
                class="bg-white opacity-80 text-sm rounded font-medium text-black px-16 py-3 "
                href="#">Ordenar</a>
                <a 
                class="bg-neutral-800 opacity-80 text-sm rounded font-medium text-white px-16 py-3 inline-block"
                href="#">Demostración de manejo</a>
            </div>
        </footer>
    </div>
    
    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img class="object-center object-cover h-full w-full" src="/Model3.avif" />
    </div>
</section>