<section 
    class="landing-section bg-black h-screen w-full text-center relative overflow-hidden"
    data-header-color="black"
    >

    <div class="z-30 relative h-full flex flex-col ">
        <header>
            <h2 class="text-current pt-24 text-[40px] font-bold">
                Model X
            </h2>
            <a class="text-current text-sm" href="#">
                <u>Agenda una demostración de manejo</u>
            </a>
        </header>
        <footer class="flex flex-col flex-grow justify-end pb-20 ">
            <div class="flex justify-center gap-x-4 max-[600px]:flex-col max-[600px]:gap-y-4 max-[600px]:pr-4 max-[600px]:pl-6">
                <a 
                class="bg-white opacity-80 text-sm rounded font-medium text-black px-16 py-3 inline-block"
                href="#">Explora el inventario</a>
                <a 
                class="bg-neutral-800 opacity-80 text-sm rounded font-medium text-white px-16 py-3 inline-block"
                href="#">Orden personalizada</a>
            </div>
        </footer>
    </div>
    
    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img class="object-center object-cover h-full w-full" src="/ModelX.avif" />
    </div>
</section>