---
interface Props {
	title: string;
}

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="../public/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Tesla clone</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
		@font-face {
			font-family: "Lato";
			src: url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
			font-weight: 400;

			font-family: "Lato";
			src: url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
			font-weight: 700;
		}
</style>
